{% extends 'index.html' %}
{% block extrahead %}
<title>Dashboard</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<br/><br/>

<div class="container">
	<div class="row">
		<div class="card col-md-3 mx-auto shadow-sm border-info">
			<div class="card-title">
				<h1 class="display-6 text-info">Logged in</h1>
			</div>
			<div class="card-body">
				<p class="display-6 text-center text-info">{{logged}}</p>
			</div>
		</div>

		<div class="card col-md-3 mx-auto shadow-sm border-info">
			<div class="card-title">
				<a class="nav-link navbar-brand lead text-dark" href="{% url 'paymentLog'%}"><h1 class="display-6 text-info">Paid tenants</h1></a>
			</div>
			<div class="card-body">
				<p class="display-6 text-center text-info">{{paid}}</p>
			</div>

		</div>

	</div>
		<br>

	<div class="card shadow border-light">
		<div class="card-header bg-white">
			<h3 class='display-6'>Tenant info.</h3>
		</div>
		<div class="table-responsive">
			<div class="card-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							<th>Name</th>
							<th>Contact</th>
							<th>Address</th>
							<th>Car brand</th>
							<th>Plate number</th>
							{% if user.is_authenticated %}
							<th></th>
							{%endif%}
						</tr>
					</thead>
					<tbody>
						{% for car in cars reversed %}
						<tr>
							<td scope="row">{{ forloop.revcounter }}</td>
							<td>{{car.owner.name}}</td>
							<td>{{car.owner.phone}}</td>
							<td>{{car.owner.address}}</td>
							<td>{{car.brand_name}}</td>
							<td>{{car.plate_number}}</td>
							{% if user.is_authenticated %}
							<td><a href="remove/{{car.owner.id}}" class="btn btn-danger btn-sm text-light">Remove</a></td>
							{%endif%}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div><br/><br/>
{% endblock %}