{% extends 'index.html' %}
{% block extrahead %}
<title>Dashboard</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<br><br>
<div class="container">

	<div class="row">
		<div class="card col-md-2 mx-auto shadow-sm border-info">
			<div class="card-title">
				<h1 class="display-6 text-info">Tenants</h1>
			</div>
			<div class="card-body">
				<p class="display-6 text-center text-info">{{person}}</p>
			</div>
		</div>

		<div class="card col-md-2 mx-auto shadow-sm border-success">
			<div class="card-title">
				<h1 class="display-6 text-success">Active</h1></a>
			</div>
			<div class="card-body">
				<p class="display-6 text-center text-success">{{active}}</p>
			</div>

		</div>
		<div class="card col-md-2 mx-auto shadow-sm border-danger">
			<div class="card-title">
				<h1 class="display-6 text-danger">Inactive</h1>
			</div>
			<div class="card-body">
				<p class="display-6 text-center text-danger">{{inactive}}</p>
			</div>
		</div>
	</div><br>

	<div class="card shadow border-light">
		<div class="card-header bg-white">
			<h3 class='display-6'>Tenant Status</h3>
		</div>
		<div class="table-responsive">
			<div class="card-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							<th>Tenant</th>
							<th>Cash</th>
							<th>Due Date</th>
							<th>Status</th>
							{% if user.is_authenticated %}
							<th></th>
							{%endif%}
						</tr>
					</thead>
					<tbody>
						{% for paid in parkIn reversed %}
						<tr>
							<td scope="row">{{ forloop.revcounter }}</td>
							<td>{{paid.tenant.name}}</td>
							<td>{{paid.cash}}</td>
							<td>{{paid.due_date}}</td>

							{% if paid.dueDate %}
								<td class="text-danger">EXPIRED</td>
							{% else %}
								<td class="text-success">Active</td>
							{% endif %}

							{% if user.is_authenticated %}
							<td><a href="cancel/{{paid.id}}" class="btn btn-danger btn-sm text-light">Cancel</a></td>
							{%endif%}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div><br/>
</div>
{%endblock%}